@page "/"

<h1>Calculator</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="number1">Number 1</label>
                <input type="text" class="form-control" id="number1" placeholder="Enter number 1">
            </div>
            <div class="form-group">
                <label for="operator">Operator</label>
                <select class="form-control" id="operator">
                    <option>Choose an operator</option>
                    <option value="+">Sum</option>
                    <option value="-">Minus</option>
                    <option value="*">Multiply</option>
                    <option value="/">Divide</option>
                </select>
            </div>
            <div class="form-group">
                <label for="number2">Number 2</label>
                <input type="text" class="form-control" id="number2" placeholder="Enter number 2">
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
            <hr />
            <div class="form-group">
                <label for="result">Result: </label>
                <span id="result"></span>
            </div>
        </form>
    </div>
</div>